.container{
    width: 100%;
    background-color: #380158;
    border-bottom: 0.5px solid #afafaf;
    padding-top: 34px;
    padding-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    a{
        margin-left: 38.9px;
        color: aliceblue;
        font-size: 22px;
    }
}


