.button{
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0dc74f;
    color: aliceblue;
    border: none;
}

.primary{
    background-color: #0dc74f;
}

.secondary{
    background-color: #fff;
    color: purple;
}